/stack.yaml.lock
/test/Deritei_Regan_Cell_Cycle
/test/Deritei_Regan_Cell_Cycle_gDetails.txt
/test/Deritei_Regan_Cell_Cycle_SM
/test/Deritei_Regan_Cell_Cycle.dmms
/test/parseTest.hs
/test/samples.dmms
/test/test.pdf
/test/test1.pdf

.stack-work/

*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.ghc.environment.*
/dynmod.prof
/dynmod.svg
/dynmod.aux
/dynmod_eval.svg
/dynmod_auto.svg
/test/Deritei parseTest.hs
